* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    transition: background 0.5s linear, color 0.5s linear;
    background-color: #ecf0f1;
}
body.dark {
    background-color: #505253;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.coluna1{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #FFA07A;
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-coluna1{
    color: white;
    font-weight: bold;
}
.descricao-coluna1{
    color: white;
    margin: 5px;
    font-size: small;
    
}
.coluna2{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding: 5px 50px;
}
.title-coluna2{
    color:#FFA07A;
    font-weight: bold;
}
.descricao-coluna2{
    color: black;
    font-size: small;
}

button{
    border-radius: 15px;
    border: white solid 1px;
    background-color: #FFA07A;
    padding: 10px 30px;
    color: white;
    align-self: center;
    font-weight: bold;
    margin: 10px;
    
}
.label-input {
    display: flex;
    margin: 5px;
    background-color: #ecf0f1;
    align-items: center;
    padding: 5px;
    border: none;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

ul{
    display: flex;
}
li{
    list-style-type: none;
    margin-left: 10px;
}

.redes i{
    border: solid 1px #ecf0f1;
    border-radius: 50px;
    padding: 5px;
    font-size: 15px;
}

form, p {
    margin: 5px;
}
.input{
    border: none;
    background-color: #ecf0f1;
    padding-left: 5px;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #FFA07A ;
    border-radius: 4px;
    display: none;
}

#msgSucess {
    text-align: center;
    color: #00bb00;
    display: none;
}

button:hover {
    background-color: #ef865d;
    color:white;
}

.btndark {
    background-color: #505253;
    border: 1px solid;
    border-radius: 10px;
    width: 40px;
    height: 15px;
    cursor: pointer;
    user-select: none;
    transition: background 0.5s linear;
    position:absolute; 
    top:95%;
    left:95%;
}

body.dark .btndark {
    background-color: #ecf0f1;
}

.botaodark {
    visibility: hidden;
}

.dark .container {background-color: #353738;}
.dark .coluna1 {background-color: #ff4800;}
.dark button {background-color: #ff4800;}
.dark .title-coluna2 {color: #ff4800;}
.dark button:hover {
    color:black;}
.dark .coluna2 {background-color: white;}
.dark .redes i {border: solid 1px #454748;}
.dark .label-input {background-color: #ecf0f1; border: none}
.dark .input {background-color:#ecf0f1 ;}