* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.coluna1{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #FFA07A;
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-coluna1{
    color: white;
    font-weight: bold;
}
.descricao-coluna1{
    color: white;
    margin: 5px;
    font-size: small;
    
}
.coluna2{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding: 5px 50px;
}
.title-coluna2{
    color:#FFA07A;
    font-weight: bold;
}
.descricao-coluna2{
    color: black;
    font-size: small;
}

button{
    border-radius: 15px;
    border: white solid 1px;
    background-color: #FFA07A;
    padding: 10px 30px;
    color: white;
    align-self: center;
    font-weight: bold;
    margin: 10px;
    
}
.label-input {
    display: flex;
    margin: 5px;
    background-color: #ecf0f1;
    align-items: center;
    padding: 5px;
    border: none;
}

ul{
    display: flex;
}
li{
    list-style-type: none;
    margin-left: 10px;
}

.redes i{
    border: solid 1px #ecf0f1;
    border-radius: 50px;
    padding: 5px;
    font-size: 15px;
}

.input{
    border: none;
    background-color: #ecf0f1;
    padding-left: 5px;
}

button:hover {
    background-color: #ef865d;
    color:white;
}
